#data-title {
  margin: 0;
}

.data-header {
  width: 100%;
  box-shadow: 0px 3px 3px var(--var-orange) !important;
}

.charts-container {
  margin-top: 5rem;
  margin-left: 5rem;
  margin-right: 5rem;
  border: 1px solid var(--var-blue) !important;
  box-shadow: 0px 3px 3px var(--var-blue) !important;
}
