.gallery-img {
  /* width: 200px; */
  height: 200px;
  object-fit: cover;
  object-position: top;
  margin: 0.2rem;
  padding: 1rem 2rem !important;
}

.gallery-card:hover,
.gallery-card:focus,
.gallery-card:active {
  transform: scale(1.1);
}

.gallery-container {
  margin: 0 auto;
}

.gallery-card {
  padding: 0 !important;
  transition: var(--transition);
  cursor: pointer;
  /* border: 1px solid var(--var-blue) !important;
  box-shadow: 0px 3px 3px var(--var-blue) !important; */

  background-color: var(--pure-white);
  border-top: 8px solid var(--var-orange) !important;
  border-radius: var(--b-radius) !important;
  box-shadow: var(--shadow);
}

.gallery-card-text {
  background-color: white;
}
