table {
  table-layout: fixed;
  width: 100%;
}

tr {
  width: 100% !important;
  margin: 0 !important;
}

th,
td {
  border: 1px solid black;
  min-width: 11.1% !important;
  overflow: hidden;
}

.table-add {
  color: var(--table-green);
  cursor: pointer;
  transition: var(--transition);
}

.edit {
  color: var(--table-blue);
}

.delete {
  color: var(--table-red);
}

.actions {
  cursor: pointer;
  transition: var(--transition);
}

.actions:hover,
.actions:focus,
.actions:active {
  transform: scale(1.2);
}

.spin {
  animation: spin 0.9s forwards;
  transition: var(--transition);
}

@keyframes spin {
  0%,
  100% {
    transform: scale(1.2);
  }
  50% {
    transform: rotate(180deg);
  }
}
