:root {
  --var-blue: rgb(56, 169, 203);
  --var-red: rgb(201, 37, 35);
  --var-orange: rgb(237, 136, 6);
  --var-green: rgb(90, 138, 62);
  --var-yellow: rgb(239, 183, 46);
}

table {
  table-layout: fixed;
  width: 100%;
}

h1 {
  margin-left: 0;
}

th,
td {
  border: none !important;
  overflow: hidden;
}

.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th {
  background-color: var(--table-rows);
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: var(--pure-white);
}

.title-pipe {
  color: var(--var-purple) !important;
}

.table-container {
  width: 100vw;
  display: block;
  overflow: auto;
  border-radius: var(--b-radius) !important;
}

.pagination button {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--pure-white);
  color: var(--table-purple);
  border: 1px solid var(--table-purple);
  margin-left: 0.3rem;
  width: 2rem;
  transition: var(--transition);
}

.pagination button:hover,
.pagination button:focus,
.pagination button:active {
  background-color: var(--table-purple);
  color: var(--pure-white);
  transform: scale(1.1);
}

.pagination span {
  margin-left: 0.5rem;
  text-align: bottom;
}

.pagination input {
  margin-left: 0.5rem;
  border: none !important;
  outline: none;
  border-radius: 0.2rem;
  padding: 0.2rem 0.5rem;
  width: 5rem !important;
  height: 2rem;
}

.pagination select {
  margin-left: 0.5rem;
  border: none !important;
  background-color: white;
  border-radius: 0.2rem;
  padding: 0 0.5rem;
  height: 2rem;
}

.table-header {
  width: 100%;
  color: var(--primary-dark) !important;
  background: var(--pure-white) !important;
  box-shadow: var(--shadow);
  border-top: 8px solid var(--var-orange) !important;
  border-radius: var(--b-radius) !important;
}

.heading {
  border-bottom: 1px solid var(--primary-light) !important;
  border-top: 8px solid var(--var-orange) !important;
}

.heading:first-child {
  border-top-left-radius: var(--b-radius);
}

.heading:last-child {
  border-top-right-radius: var(--b-radius);
}

.pagination {
  margin-bottom: 20px;
}

thead {
  overflow-y: auto;
  overflow-x: hidden;
}

tr {
  width: 100% !important;
  margin: 0 !important;
  cursor: default;
}

th,
td {
  position: relative;
  margin: 0;
  padding: 0.5rem;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  white-space: nowrap;
  overflow: hidden;
}

.resizer {
  display: inline-block;
  width: 10px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(50%);
  z-index: 1;
  transition: var(--transition);
}

.resizer:hover,
.resizer:focus,
.resizer:active {
  background-color: var(--primary-grey);
}

/* .table-row {
  transition: var(--transition);
}

.table-row:hover,
.table-row:focus,
.table-row:active {
  background-color: var(--var-table-purple) !important;
} */

.table-add:hover,
.table-add:focus,
.table-add:active {
  color: var(--table-green);
}

.edit:hover,
.edit:focus,
.edit:active {
  color: var(--table-blue);
}

.delete:hover,
.delete:focus,
.delete:active {
  color: var(--table-red);
}

.report:hover,
.report:focus,
.report:active {
  color: var(--table-purple);
}

.actions {
  color: var(--primary-dark);
  cursor: pointer;
  transition: var(--transition);
}

.actions:hover,
.actions:focus,
.actions:active {
  transform: scale(1.2);
}

.spin {
  animation: spin 0.9s forwards;
  transition: var(--transition);
}

.selected {
  border: 1px solid var(--table-purple-alt);
}

@keyframes spin {
  0%,
  100% {
    transform: scale(1.2);
  }
  50% {
    transform: rotate(180deg);
  }
}
