:root {
  --var-blue: rgb(56, 169, 203);
  --var-red: rgb(201, 37, 35);
  --var-orange: rgb(237, 136, 6);
  --var-green: rgb(90, 138, 62);
  --var-yellow: rgb(239, 183, 46);
}

table {
  table-layout: fixed;
  width: 100%;
}

th,
td {
  border: 1px solid black;
  /* min-width: 11.1% !important; */
  overflow: hidden;
}

.table-container {
  width: 100vw;
  display: block;
  overflow: auto;
  background: rgb(244, 244, 247);
  /* box-shadow: 10px 5px 5px red; */
  border-radius: 0.2rem;
}
.pagination button {
  border-radius: 0.5rem;
  background-color: var(--blue);
  color: white;
  margin-left: 0.3rem;
}

.pagination span {
  margin-left: 0.5rem;
}

.pagination input {
  margin-left: 0.5rem;
  border: 2px solid var(--blue);
  border-radius: 0.2rem;
}

.pagination select {
  margin-left: 0.5rem;
  border: 2px solid var(--blue);
  border-radius: 0.2rem;
}

.table-header {
  /* position: absolute; */
  /* top: 0;
  left: 0; */
  width: 100%;
  /* background: rgb(244, 244, 247);  */
  background-color: var(--orange);
  /* background: linear-gradient(
    198deg,
    rgba(244, 244, 247, 1) 0%,
    rgba(255, 254, 254, 0.808) 35%,
    rgb(255, 255, 255) 100%
  ); */
  border-radius: 0.2rem !important;
  box-shadow: inset rgba(0, 0, 0, 0.35) 0.95px -2.95px 1.6px;
}

.pagination {
  margin-bottom: 20px;
}

thead {
  overflow-y: auto;
  overflow-x: hidden;
}

tr {
  width: 100% !important;
  margin: 0 !important;
}

/* .header-row {
  border-bottom: 1px solid var(--green);
} */

th,
td {
  position: relative;
  margin: 0;
  padding: 0.5rem;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  white-space: nowrap;
  overflow: hidden;
}

.resizer {
  display: inline-block;
  width: 10px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(50%);
  z-index: 1;
  transition: var(--transition);
}

.resizer:hover,
.resizer:focus,
.resizer:active {
  background-color: var(--primary-grey);
}

.table-add {
  color: var(--table-green);
  cursor: pointer;
  transition: var(--transition);
}

.edit {
  color: var(--table-blue);
}

.delete {
  color: var(--table-red);
}

.actions {
  cursor: pointer;
  transition: var(--transition);
}

.actions:hover,
.actions:focus,
.actions:active {
  transform: scale(1.2);
}

.spin {
  animation: spin 0.9s forwards;
  transition: var(--transition);
}

@keyframes spin {
  0%,
  100% {
    transform: scale(1.2);
  }
  50% {
    transform: rotate(180deg);
  }
}
