:root {
  --var-blue: rgb(56, 169, 203);
  --var-red: rgb(201, 37, 35);
  --var-orange: rgb(237, 136, 6);
  --var-green: rgb(90, 138, 62);
  --var-yellow: rgb(222, 230, 61);
}

#nav-logo {
  height: 50px;
  /* background-color: white; */
  /* padding: 0.5rem; */
}

#nav-body {
  /* box-shadow: 0px 3px 3px var(--var-purple); */
  /* border-bottom: 2px solid #4980b6; */
}

nav {
  display: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  margin-bottom: 3rem;
  /* box-shadow: var(--shadow); */
  background-color: var(--pure-white) !important;
}

/* .navlink:hover {
  transform: scale(1.1);
} */
