.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--modal-bg);
  z-index: 1;
}

.modal-form {
  width: 100%;
  height: fit-content;
  background-color: white;
}

.back {
  width: fit-content;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.back:hover,
.back:focus,
.back:active {
  transform: scale(1.2);
}

.alert {
  width: 70%;
  height: fit-content;
}

.upload-img {
  max-width: 8rem;
}

.file-upload {
  background-color: grey;
}

.multi-img-cont {
  max-width: 16rem;
  overflow: scroll;
}

.upload-img-multi {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
}

input[type='file'] {
  display: none;
}

.upload-btn {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.upload-size {
  font-size: 0.5em;
}

/* .check-in {
  height: 20rem;
} */

.report-user {
  /* height: 10rem;
  width: 10rem; */
  /* background-color: var(--primary-light); */
  /* z-index: 1; */
}

.report-user-img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 50%;
  border: 0.5rem solid var(--table-purple);
  z-index: 1;
}

@media only screen and (min-width: 767px) {
  .modal-form {
    width: 80%;
    /* height: 90%; */
  }
}

@media only screen and (min-width: 989px) {
  .modal-form {
    width: 85%;
    /* height: 70%; */
  }
}
