.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--modal-bg);
}

.modal-form {
  width: 100%;
  height: fit-content;
  background-color: white;
}

.back {
  width: fit-content;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.back:hover,
.back:focus,
.back:active {
  transform: scale(1.2);
}

.alert {
  width: 70%;
  height: fit-content;
}

@media only screen and (min-width: 767px) {
  .modal-form {
    width: 80%;
    /* height: 90%; */
  }
}

@media only screen and (min-width: 989px) {
  .modal-form {
    width: 70%;
    /* height: 70%; */
  }
}
